
	<div class="row">
		<div class="col-md-8 col-md-offset-1">
			<div class="block-header">
				<h1 class="blog-title">The Bootstrap Blog2 head</h1>
				<p class="lead blog-description">
					The official example template of creating a blog with Bootstrap.
				</p>
			</div>
		</div>
		<div class="col-md-3">
			<div>
				<button type="button" class="btn btn-primary" id="w_blog">写博客</button>
			</div>
		</div>
	</div>

    
