
<<<<<<< HEAD
	<div class="row blog-header">
		<div class="col-md-8 col-md-offset-1">
			<div>
				<h1 class="blog-title">
					<%=blog_title %>
				</h1>
				<p class="lead blog-description">
					<%=blog_desc %>
=======
	<div class="row">
		<div class="col-md-8 col-md-offset-1">
			<div class="block-header">
				<h1 class="blog-title">The Bootstrap Blog2 head</h1>
				<p class="lead blog-description">
					The official example template of creating a blog with Bootstrap.
>>>>>>> 548a60804a2212dc1c64c9b4f2ef0cb7664328d8
				</p>
			</div>
		</div>
		<div class="col-md-3">
<<<<<<< HEAD
			<div class="blog-right">
				<% if(islogin){ %>
					<div class="blog-right-in">
						<button type="button" class="btn btn-primary" id="w_blog">写博客</button>
					</div>
				<% } %>
				
				<% if(index && index == 1){ %>
					<div class="blog-right-in">
						<span>博客: <strong><%=nums %></strong></span>
					</div>
				<% } %>

=======
			<div>
				<button type="button" class="btn btn-primary" id="w_blog">写博客</button>
>>>>>>> 548a60804a2212dc1c64c9b4f2ef0cb7664328d8
			</div>
		</div>
	</div>

    
